body,
html {
  width: 100%;
  height: 100%;
  background-color: rgba(121, 211, 214, 0.658);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
article {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  margin: 0 20px;
}

.header,
.footer {
  background-color: rgba(29, 28, 28, 0.781);
  color: antiquewhite;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
}

.box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 300px);
  grid-auto-rows: 200px;
  gap: 10px;
  grid-auto-flow: row dense;
  margin: 20px auto;
}
.item {
  background: rgba(46, 97, 46, 0.603);
  padding: 10px;
  color: antiquewhite;
  border: 1px solid antiquewhite;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.span2 {
  grid-column: span 2;
  grid-row: span 2;
}

.inside {
  background-color: blueviolet;
  display: flex;
  align-items: center;
  justify-content: center;
}
